<%= simple_form_for @location, :html => { :class => 'form-horizontal' } do |f| %>
  State : <%= collection_select(:state, :id,State.all,:id,:state_name) %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                locations_path, :class => 'btn' %>
  </div>
<% end %>
