<p id="notice"><%= notice %></p>

<p>
  <b>Employment type:</b>
  <%= @employment_type.employment_type %>
</p>


<%= link_to 'Edit', edit_employment_type_path(@employment_type) %> |
<%= link_to 'Back', employment_types_path %>
