<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
          #mp_logo {
        background-image: url("assets/mp_logo.jpg");
        background-repeat: no-repeat;
        background-position: top left;
        height: 155px;
      }
    </style>



<div class="hero-unit">
      <div class="container">

        <h1>
        	      <div id="mp_logo">
      </div>
      		<br>
            <strong>Welcome To HRMIS</strong><br>
            <small>Bhopal Medical Information Management System</small>
        </h1>
      </div>
</div>