<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
          #mp_logo{
          	padding-left: 200px;
          	padding-right: 30px;
            padding-top: 10px;
          }

          #mp_logo {
        background-image: url("assets/mp_logo.png");
        background-repeat: no-repeat;
        background-position: top left;
        height: 155px;
      }
    </style>
</head>
<body>
     <div class="container">        
      <div class="hero-unit">       
              <div id="mp_logo">
                  <h1>
                    <strong>Human Resources - MIS</strong><br>
                  <small>Department of Public Health & Family Welfare</small>
                </h1>
            </div> 
     </div>
   </div>