<%= simple_form_for @martial_stat, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :martial_status_type %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                martial_stats_path, :class => 'btn' %>
  </div>
<% end %>
